<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"
	<title></title>

</head>
<body>
	<h1>γεια απο backbone</h1>
	<div id="form">
		<form id  ="superform">
			<input id="input" type="text" name="text" value="totis">
			<p></p>
			<button id="super">go!</button>
		</form>
	</div>
	<div id="books"></div> 

	<a href="#books">
		<p>Hello</p>
	</a>


<script id="bookTemplate" type="text/template">
	<%= title %>               <%= τιμή_λιανική %>
</script>


<script src="public/js/underscore.js"></script>
<script src="public/js/jquery-1.10.2.js"></script>
<script src="public/js/backbone.js"></script>
<script src="public/js/main.js"></script>

</body>
</html>